{% extends "base.html" %}

{% block content %}

<main class="formPage my-xl">
    <div class="content-box">
        <div class="formWrapper">
            <!-- <a class="backButton" href="{% url 'tempload-list' project_id %}"><i class="im im-angle-left"></i>Back</a> -->
            <a href='{% url "tempload-list" project_id %}'><i class="im im-angle-left"></i>Go Back</a>
            <span  style="margin-left: 20%;color:dark;font-weight:bold;font-size: 110%"> {{project_name}}</span>
            <br>
            <br>
                <form action="" method="POST">
                        {% csrf_token %}
                        <p>Are you sure you want to delete "{{object}}" ?</p>
                        <br>
                        <input type="submit" value="Confirm" />
                        <span  style="margin-left: 20%"> <a href="{% url "tempload-list" project_id %}"> Cancel</a></span>
                </form>
        </div>
    </div>
</main>
{% endblock %}