{% extends "base.html" %}

{% block content %}
<!-- below form without individual styling -->
<!--
<form action="" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Send</button>
</form>
-->
<!--<input type="submit"> -->

<!-- below form with individual styling (use of a for loop) -->
<main class="formPage my-xl">
    <div class="content-box">
        <div class="formWrapper">
            <a href='{% url "prj-list" %}'><i class="im im-angle-left"></i>Go Back</a>
            <br>

            <form class="form" method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                {% for field in form %}
                <div class="form__field">
                    <label for="formInput#text">{{field.label}}</label>
                    {{field}}
                </div>
                {% endfor %}

                <input class="btn btn--sub btn--lg  my-md" type="submit" value="Submit" />
            </form>
        </div>
    </div>
</main>
{% endblock %}
