{% extends "base.html" %}

{% block title %}
{% endblock %}

{% block content %}
<main class="formPage my-xl">
    <div class="content-box">
        <div class="formWrapper">
        <h5>Projects List</h5>
        <br>
        {% if noproject == 0 %}
            <table cellspacing="10">
                <tr>
                    <th>Project Name</th>
                    <th>Creation Date</th>
                    <th>Username</th>
                    <th></th>
                </tr>
                <tr></tr>
                {% for prj in listprj %}
                <!-- Below do not display the project if marked to delete -->
                {% if prj.to_delete != 'Y' %}
                <tr>
                    <td><a href="{{ prj.get_absolute_url}}">  {{ prj.project_name }} </a></td>
                    <td>{{ prj.created_at|date:"d M Y" }}</td>
                    <td>{{ prj.username }}</td>
                    {% if view_only != 'Y' %}
                    <td><a href="{% url 'delete-project' prj.project_id %}">Delete project</a></td>
                    {% endif %}
                </tr>
                {% endif %}
                {% endfor %}
            </table>
        {% endif %}
        </div>
    </div>
</main>
{% endblock %}