{% extends "base.html" %}

{% block title %}
{% endblock %}

{% block content %}
<main class="formPage my-xl">
    <div class="content-box">
        <div class="formWrapper">
        <h5>Projects List</h5>
        <br>
        {% if noproject == 0 %}
            <table cellspacing="10">
                <tr>
                    <th>Project Name</th>
                    <th>Creation Date</th>
                    <th>Username</th>
                </tr>
                <tr></tr>
                {% for prj in listprj %}
                <!-- <li><a href="{% url "tempload-list" prj.project_id %}">  {{ prj.project_name }} </a>  </li> -->
                <!-- <li><a href="{{ prj.get_absolute_url}}">  {{ prj.project_name }} </a>  </li> -->
                <tr>
                    <td><a href="{{ prj.get_absolute_url}}">  {{ prj.project_name }} </a></td>
                    <td>{{ prj.created_at|date:"d M Y" }}</td>
                    <td>{{ prj.username }}</td>
                </tr>
                {% endfor %}
            </table>
        {% endif %}
        </div>
    </div>
</main>
{% endblock %}