{% extends "base.html" %}

{% block content %}
<!-- below form without individual styling -->
<!--
<form action="" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Send</button>
</form>
-->
<!--<input type="submit"> -->

<!-- below form with individual styling (use of a for loop) -->
<main class="formPage my-xl">
    <div class="content-box">
        <div class="formWrapper">
            <!-- <a class="backButton" href="{% url 'tempload-list' project_id %}"><i class="im im-angle-left"></i>Back</a> -->
            <a href='{% url "tempload-list" project_id %}'><i class="im im-angle-left"></i>Go Back</a>
            <span  style="margin-left: 30%;color:dark;font-weight:bold;font-size: 110%"> {{project_name}}</span>
            <br>

            <form class="form" method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                {% for field in form %}
                <div class="form__field">
                    <label for="formInput#text">{{field.label}}</label>
                    {{field}}
                </div>
                {% endfor %}

                {% if view_only != 'Y' %}
                <input class="btn btn--sub btn--lg  my-md" type="submit" value="Submit" />
                {% endif %}

            </form>
        </div>
    </div>
</main>
{% endblock %}
