{% load static %}

<!-- Header Section -->
<header class="header">
<div class="container container">
  <span  style="float: left;color:LightSkyBlue;font-size: 100%">KPI Project Calculation</span>
  <!-- Below code to use a clickable logo image -->
  <!--  <a href="{% url 'prj-list' %}" class="header__logo">KPI Project Calculation
    <img src="{% static 'images/logo2.svg' %}" alt="KPI Project Calculation" />
  </a> -->
  <nav class="header__nav">
    <ul class="header__menu">
      <li class="header__menuItem"><a href="{% url 'prj-list' %}" class="btn btn--sub">Projects List</a></li>
      <li class="header__menuItem"><a href="{% url 'create-project' %}" class="btn btn--sub">Add Project</a></li>
      {% if request.user.is_authenticated %}
      <li class="header__menuItem"><a href="{% url 'logout' %}" class="btn btn--sub">Logout</a></li>
      <li class="header__menuItem">{{request.user}} connected</li>
      {% else %}
      <li class="header__menuItem"><a href="{% url 'login' %}" class="btn btn--sub">Login/Sign Up</a></li>
      {% endif %}
      <li class="header__menuItem"><a href="{% url 'admin:index' %}" >Admin</a></li>
    </ul>
  </nav>
</div>
</header>